@font-face {
	font-family: FixedSys;
	src: url('fixedsys.ttf');
}
body {
	font-family: FixedSys;
	color: #AAAAAA; /* light gray */
	background-color: blue;/**/
}
a {
	color: #FFFF55; /* yellowish */
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	background-color: #FFFF55; /* yellowish */
	color: black;
}/**/