
@font-face
{
 font-family: "compfont";
 src: url("font.ttf");
}
body
{
 background-color:black;
 color:white;
 font-family:"Lucida Console";
}
a:link {color:white;text-decoration:underline;}
a:visited {color:white;}
a:hover {color:gray;}
a:active {color:white;}